.app-container {
  padding: 20px;
}

.search-input {
  background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 11px;
  background-size: 20px 20px;
  background-repeat: no-repeat; 
  padding: 12px 20px 12px 40px;
  width: 100%; 
  font-size: 16px; 
  border: 1px solid #a09191; 
  border-radius:20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.app-container {
  padding: 20px;
  margin: 0;
}

@media (min-width: 900px) {
  .app-container {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .search-input {
    font-size: 11px;
    background-position: 7px 7px;
    background-size: 12px 12px;
    padding: 8px 20px 8px 25px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 440px) {
  .search-input {
    font-size: 8px;
    background-position: 7px 4px;
    background-size: 10px 10px;
    padding: 5px 20px 5px 25px;
    margin-bottom: 6px;
    }
}
